td.is-progress {
    background-color:#4e9dd7;
    width:1%;
}
td.not-progress {
    background-color:#333333;
    width:1%;
}

#top-progress {
    background-color: #fafafa;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}