body {
	font-family: Calibri;
	font-size: 15px;
	color: #ffffff;
	background-color: #293848;
	padding: 0px;
	margin: 0px;
}
* {
	box-sizing: border-box;
}
.topnav {
	background-color: #313131;
	display: inline-block;
	position: absolute;
	width: 100%;
}
.topnav img {
	float: left;
	padding: 10px;
}
.topnav .link {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 20px 0;
	margin: 0 14px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.topnav .link:nth-child(2) {
	margin-left: 5px;
}
.topnav .link:hover {
	color: #d2d2d2;
	text-shadow: 2px 2px #000000;
}
ul {
	list-style-type: none;
}
li {
	padding: 5px;
}
li a {
	color: #ffffff;
	text-decoration: none;
}
li a:hover {
	color: #d2d2d2;
	text-shadow: 2px 2px #000000;
	padding: 3px;
}
.main {
	width: 75%;
}
.side {
	background-color: #232323;
	border-left: 4px solid #395d9e;
	padding: 55px 15px 0 15px;
	width: 300px;
	min-height: 100%;
}
.card {
	background-color: #232323;
	padding: 0 15px;
	margin: 15px;
	padding: 15px;
	border-radius: 4px;
}
@media screen and (max-width: 800px) {
	.main, .side {
		width: 100%;
		padding: 0;
	}
}
@media screen and (max-width: 400px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}
img.logo {
	height: 70px;
	margin: -6px 13px;
}
.menu {
	padding: 10px;
}
.menu a {
	padding:10px;
}
.posts {
	width: 70%;
	margin: auto;
}
.post {
	margin-bottom: 50px;
	.footer {
		font-style: italic;
		.author {
			margin-right: 10px;
		}
	}
}
.watch-top {
	margin: auto;
	span.episodes {
		margin: 10px;
	}
	span.chapters {
		margin: 10px;
   }
	select {
		border: 1px;
		font-size: 16px;
		color: #ffffff;
		padding-bottom: 5px;
		font-family: Calibri;
		background-color: #232323;
		border-radius: 4px 4px 0px 0px;
	}
	select.episodes {
		margin: 0px 3px 0px 2px;
	}
}
.magnet, .torrent, .animetosho {
	color: #ffffff;
	text-decoration: none;
	margin-left: 16px;
	.fa {
		position: relative;
		top: 1px;
	}
}
.animetosho .fa {
	font-weight: bold;
}
.video-player {
	width: 100%;
	height: 82%;
	background-color: #232323;
}
.darkmode{
	color: white;
	background-color: black;
}
.button {
	cursor:pointer;
}
.button:hover{
	text-decoration: underline;
}
table.releases {
	width: 100%;
	tr:hover {
		background-color: #dddddd;
		color: black;
	}
	td {
		margin: 0;
		padding: 0 10px 0 10px;
		a {
			color: white;
			text-decoration: none;
			padding: 2px;
			cursor: pointer;
	   }
		a:hover {
			color: black;
		}
	}
}
.help {
	cursor: help;
	border-bottom: 1px dotted gray;
}
.bottom-shadow {
	-webkit-box-shadow: 0 5px 11px -4px black;
	-moz-box-shadow: 0 5px 11px -4px black;
	box-shadow: 0 5px 11px -4px black;
}
.h2 {
	margin: 0;
}
.prev-ep {
	background-color: #293848;
	color: #ffffff;
	border-radius: 10px;
	padding-bottom: 2px;
	margin: 5px;
	cursor: pointer;
}
.next-ep {
	background-color: #293848;
	color: #ffffff;
	border-radius: 10px;
	padding-bottom: 2px;
	margin: 5px;
	cursor: pointer;
}
.vl {
	border-left: 4px solid #395d9e;
	background-color: #313131;
	height: inherit;
	position: center;
	left: 50%;
	margin-left: -3px;
	top: 0;
}

.releases th {
	text-align: left;
	padding-left: 8px;
}
.releases th .glyphicon {
	font-size: 10px;
	position: relative;
	top: 0px;
}
.releases th.date {
	min-width: 95px;
	width: 5%;
}

.members table {
	width: 100%;
}
.members table td {
	padding: 1px 10px 1px 45px;
}
.members table tr:first-of-type > td {
	padding: 10px 10px 1px 45px;
}
.members table tr:last-of-type > td {
	padding: 1px 10px 10px 45px;
}

.layout-container {
	display: flex;
}
.layout-content {
	flex: 1;
	margin-top: 10px;
	padding-top: 55px;
}
