body {
	font-family: Arial;
	font-size: 15px;
    background: #282a99;
    /*background-image: "assets/logo.png";*/
    color: #ffffff;
}
* {
    box-sizing: border-box;
}
.logo {
    text-align: center;
}
.topnav {
    background-color: #383838;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
	padding: 3px;
}
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px 13px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #282828;
    color: #ffffff;
}
ul{
    list-style-type: none;
}
li a {
	color: #ffffff;
	text-decoration: none;
}
.main {   
    float: left;
    width: 75%;
    background-color: #282828;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.side {
    float: left;
    width: 25%;
    background-color: #383838;
    padding-left: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    background-color: #282828;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
@media screen and (max-width: 800px) {
    .main, .side {   
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
.logo {
    text-align: center;
    img {
        width: 20%;
        height: 20%;
    }
}
.menu {
   padding: 10px;
}
.menu a{
    padding:10px;
}
.posts {
    width: 70%;
    margin: auto;
}
.post {
    margin-bottom: 50px;
    .footer {
        font-style: italic;
        .author {
            margin-right: 10px;
        }
    }
}
.watch-container {
    .top {
        span.episodes {
            margin: 10px;
        }
        span.chapters {
            margin: 10px;
        }
        select {
            border: 0;
            font-size: 16px;
            padding: 3px;
            color: #ffffff;
            font-family: Arial;
            background-color: #282828;
            border-radius: 4px 4px 0px 0px;
        }
        select.episodes {
            margin: 0px 3px 0px 2px;
        }
    }
}

.magnet, .torrent, .animetosho {
    color: #337ab7;
    text-decoration: none;
    margin-left: 16px;

    .fa {
        position: relative;
        top: 1px;
    }
}

.animetosho .fa {
    font-weight: bold;
}

.video-player {
    width:100%;
    height: 90%;
}
.darkmode{
    color: white;
    background-color: black;
}
.button {
    cursor:pointer;
}
.button:hover{
    text-decoration: underline;
}
table.releases {
    width: 100%;
    tr:hover {
        background-color: #dddddd;
    }
    td {
        margin: 0;
        padding: 0 10px 0 10px;
    }
    td.name {
        cursor: default;
    }
    td a {
        text-decoration: none;
        color: black;
        text-decoration: none;
        padding: 2px;
    }
    td a:hover {
        background-color:#337ab7;
        color: white;
        transition: background-color 200ms, color 200ms;
        -webkit-transition: background-color 200ms, color 200ms;
        -ms-transition: background-color 200ms, color 200ms;
    }
}