body {
	font-family: Calibri;
	font-size: 15px;
	color: #ffffff;
	background: linear-gradient(rgba(41, 56, 72, 0.45), rgba(41, 56, 72, 0.45)), url('/assets/one_piece_background_special_01_by_backgrounds4you-d9lp3zb.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
}
* {
	box-sizing: border-box;
}
input{
	color:black;
}
input[type="file"] {
	display: none;
}
.topnav {
	background-color: #313131;
	display: inline-block;
	position: absolute;
	width: 100%;
}
.topnav img {
	float: left;
	padding: 10px;
}
.topnav .link {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 20px 0;
	margin: 0 14px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.topnav .link:nth-child(2) {
	margin-left: 5px;
}
.topnav .link:hover {
	color: #d2d2d2;
	text-shadow: 2px 2px #000000;
}
ul {
	list-style-type: none;
}
li {
	padding: 5px;
}
li a {
	color: #ffffff;
	text-decoration: none;
}
li a:hover {
	color: #d2d2d2;
	text-shadow: 2px 2px #000000;
	padding: 3px;
}
.main {
	width: 75%;
}
.side {
	background-color: rgba(35,35,35,0.8);
	border-left: 4px solid #395d9e;
	padding: 55px 15px 0 15px;
	width: 300px;
	min-height: 100%;
}
.side-minimised {
	background-color: #232323;
	border-left: 4px solid #395d9e;
	padding: 55px 15px 0 15px;
	width: 50px;
	min-height: 100%;
}
.side-toggle {
	margin-top: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}
.card {
	background-color: rgba(35,35,35,0.8);
	padding: 0 15px;
	margin: 15px;
	padding: 15px;
	border-radius: 4px;
}
@media screen and (max-width: 800px) {
	.main, .side {
		width: 100%;
		padding: 0;
	}
}
@media screen and (max-width: 400px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}
img.logo {
	height: 70px;
	margin: -6px 13px;
}
.menu {
	padding: 10px;
}
.menu a {
	padding:10px;
}
.posts {
	width: 70%;
	margin: auto;
}
.post {
	margin-bottom: 50px;
	
}
.post > .footer {
	font-style: italic;
}
.post > .footer > .author {
	margin-right: 10px;
}
.watch-top {
	margin: auto;
	padding-bottom: 10px;
}
.watch-top select.episodes {
	margin: 0px 3px 0px 2px;
}
.watch-top select {
	border: 1px;
	font-size: 16px;
	color: #ffffff;
	padding-bottom: 5px;
	font-family: Calibri;
	border-radius: 4px 4px 0px 0px;
	background-color: rgba(0,35,35,0.0);
}
.watch-top select option {
	background-color: rgba(35,35,35,1.0);
}
.watch-top span.episodes {
	margin: 10px;
}
.watch-top span.chapters {
	margin: 10px;
 }
.magnet, .torrent, .animetosho {
	color: #ffffff;
	text-decoration: none;
	margin-left: 16px;
}
.magnet .fa, .torrent .fa, .animetosho .fa {
	position: relative;
	top: 1px;
}
.animetosho .fa {
	font-weight: bold;
}
.watch.card {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.video-player {
	width: 100%;
	height: 100%;
}
.video-player-wrapper {
	width: 100%;
	height: 82%;
}
.darkmode {
	color: white;
	background-color: black;
}
.button {
	cursor:pointer;
}
.button:hover {
	text-decoration: underline;
}
table.releases {
	width: 100%;
}
table.releases td {
	margin: 0;
	padding: 0 10px 0 10px;
}
table.releases td > a {
	color: white;
	text-decoration: none;
	padding: 2px;
	cursor: pointer;
}
table.releases td > a:hover {
	color: black;
}
table.releases tr:hover {
	background-color: #dddddd;
	color: black;
}
.help {
	cursor: help;
	border-bottom: 1px dotted gray;
}
.bottom-shadow {
	-webkit-box-shadow: 0 5px 11px -4px black;
	-moz-box-shadow: 0 5px 11px -4px black;
	box-shadow: 0 5px 11px -4px black;
}
.h2 {
	margin: 0;
}
.prev-ep {
	background-color: #293848;
	color: #ffffff;
	border-radius: 10px;
	padding-bottom: 2px;
	margin: 5px;
	cursor: pointer;
}
.next-ep {
	background-color: #293848;
	color: #ffffff;
	border-radius: 10px;
	padding-bottom: 2px;
	margin: 5px;
	cursor: pointer;
}
.vl {
	border-left: 4px solid #395d9e;
	background-color: #313131;
	height: inherit;
	position: center;
	left: 50%;
	margin-left: -3px;
	top: 0;
}

.releases th {
	text-align: left;
	padding-left: 8px;
}
.releases th .glyphicon {
	font-size: 10px;
	position: relative;
	top: 0px;
}
.releases th.date {
	min-width: 95px;
	width: 5%;
}

.members table {
	width: 100%;
}
.members table td {
	padding: 1px 10px 1px 45px;
}
.members table tr:first-of-type > td {
	padding: 10px 10px 1px 45px;
}
.members table tr:last-of-type > td {
	padding: 1px 10px 10px 45px;
}

.layout-container {
	display: flex;
}
.layout-content {
	flex: 1;
	margin-top: 10px;
	padding-top: 55px;
}

.submit-button {
	color: white;
	font-size: 16px;
	cursor: pointer;
	padding: 7px;
	margin: 5px 0;
	text-align: center;
	background-color: #5176af;
	border-radius: 0px;
}
.submit-button:hover {
	background-color: #6186bf;
}
.submit-button.disabled {
	background-color: #5f6e84;
	color: #c5c5c5;
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-ms-touch-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
/* Login */
.login-side-container {
	color: white;
	width: 15%;
}
.login-container {
	margin-top: 5px;
}
.login-container input {
	width: 100%;
}
/*List*/
.progress-container {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #444444;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	height: 90%;
}
.flex-scroll-x {
	display: flex;
	overflow-x: auto;
}
.progress-container .list-container {
	display: flex;
}
.progress-container .list {
	flex: 1;
	margin: 10px;
	width: 270px;
	height: 85%;
}
.progress-container .list .header {
	background-color: #ffffff;
	padding: 10px;
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	border-radius: 3px 3px 0 0;
}
.progress-container .list .header.admin-only {
	background-color: #676767;
	color: #f5f5f5;
}
.progress-container .list-content {
	background: #E2E4E6;
	border-radius: 3px;
}
/* Card add button*/
.progress-container .add-card-button-container {
	padding-bottom: 1px;
}
.progress-container .add-card-button:hover {
	background-color: #edeff0;
}
.progress-container .add-card-button .the-text {
	font-size: 17px;
	font-weight: 700;
	display: inline-block;
	margin-left: 5px;
}
.progress-container .add-card-button .glyphicon {
	margin-left: 6px;
	font-size: 14px;
	position: relative;
	top: 1px;
}
.progress-container .add-card-button {
	border-bottom: 1px solid #ccc;
	padding: 5px;
	margin: 10px;
	border-radius: 3px;
	background-color: #ffffff;
	cursor: pointer;
}
/* Progress card */
.progress-container .progress-card {
	background-color: #ffffff;
	margin: 10px;
	border-radius: 3px;
	border-bottom: 1px solid #ccc;
}
.progress-card.title:hover {
	background-color: #f3f3f3;
	cursor: pointer;
}
.progress-card .glyphicon {
	display: none;
	color: #666;
}
.progress-card:hover .glyphicon {
	float: right;
	display: inline-block;
	position: relative;
	cursor: pointer;
	right: 13px;
	top: 9px;
}
.progress-card .glyphicon:hover {
	color: #101010;
}
.progress-container .progress-card .text {
	margin: 5px 10px;
	display: inline-block;
	font-size: 13px;
	color: #696868;
	font-style: italic;
}
/* Progress card unreleased */
.progress-card.unreleased {
	background-color: #415671;
}
.progress-card.title.unreleased:hover {
	background-color: #516b8c;
	cursor: pointer;
}
.progress-card.unreleased .text {
	color: #e0e0e0;
}
.progress-card.unreleased .status {
	color: #c5c5c5;
}
/* Progress card admin only*/
.progress-card.title.admin-only:hover {
	background-color: #989898;
	cursor: pointer;
}
.progress-card.admin-only .text {
	color: #e0e0e0;
}
.progress-card.admin-only .status {
	color: #c5c5c5;
}
/*Card image*/
.progress-container .cards .list-image {
	width: 100%;
	border-radius: 3px;
}
/* Card list */
.progress-container .cards {
	overflow-y: auto;
	max-height: 100%;
}
/*Form overlay*/
.form-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0, 0.6);
	z-index: 100;
}
/*Form container*/
.form-container {
	color: #000;
	padding: 10px;
	max-width: 50%;
	overflow-y: auto;
	margin: auto auto;
	background-color: #e8e8e8;
	border-radius: 3px;
	margin-top: 24px;
}
.subform-container {
	margin: 10px;
}
.subform-container .submit-button {
	display: inline-block;
}
.left-margin {
	margin-left: 5px;
}
.issues{
	max-height: 50%;
	overflow-y: auto;
}
.issue-container {
	background-color: #fff;
	padding: 10px;
	color: black;
	margin-top: 10px;
}
.issue-container .header .name {
	font-size: 14px;
}
.issue-container .header .time {
	font-size: 12px;
	font-style: italic;
}
.card .status {
	color: #9c9c9c;
	text-align: left;
	font-size: 11px;
	margin: -5px 10px 4px 10px;
	font-style: italic;
}
.create-issue-input {
	width: 100%;
}
.progress-card.admin-only,.list-content>.header.admin-only {
	background-color: grey;
	color: white;
}
.complete-button {
	background-color: #138a22;
}
.uncomplete-button {
	background-color: #7d0d0d;
}
.issue-container.completed {
	background-color: #b7b7b7;
	color: #909090;
}
.issue-container .glyphicon-unchecked.editable {
	cursor: pointer;
}
.issue-container .glyphicon-unchecked.editable:hover:before {
	content: "\e067";
}
.glyphicon-check,.glyphicon-unchecked {
	color: rgba(2, 130, 0, 0.67);
	font-size: 24px;
	float: right;
}
.form-container video {
	width: 100%;
	background-color: #35465a;
}
.upload-button {
	flex: 1;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	padding: 10px;
	margin: 10px;
	text-align: center;
	background-color: #5176af;
	font-weight: 100;
	font-size: 18px;
	max-height: 87px;
}
