<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebPublisher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebPublisher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <WebPublisher.Settings>
            <setting name="ftpUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpHost" serializeAs="String">
                <value />
            </setting>
        </WebPublisher.Settings>
    </userSettings>
    <applicationSettings>
        <WebPublisher.Settings>
            <setting name="index" serializeAs="String">
                <value>index.html</value>
            </setting>
            <setting name="css" serializeAs="String">
                <value>index.css</value>
            </setting>
            <setting name="js" serializeAs="String">
                <value>index.js</value>
            </setting>
            <setting name="uploadDirectory" serializeAs="String">
                <value>/www/onepace.net/public_html</value>
            </setting>
            <setting name="cssRegex" serializeAs="String">
                <value>&lt;link rel="stylesheet" href="(index\.css[\?v=A-Fa-f\d]*)" \/&gt;</value>
            </setting>
            <setting name="jsRegex" serializeAs="String">
                <value>&lt;script src="(index\.js[\?v=A-Fa-f\d]*)"&gt;&lt;\/script&gt;</value>
            </setting>
        </WebPublisher.Settings>
    </applicationSettings>
</configuration>